*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding:0;
    font-family:Arial, Tahoma, sans-serif;
}
body{
    background:#EEE;
    
}
/* Start of weather */
.parent{
    height: 80vh;
    background:#7173f1;
    text-align:center;
    margin-bottom:190px;
}
.parent nav{
    display:flex;
    justify-content:space-evenly;
    background:#5153c2;
    padding:15px;
    border-bottom:1px solid #222;
    box-shadow:0px 0px 4px #000;
    position:fixed;
    width:100%;
    z-index: 2;
}
.parent nav h2{
    color:#EEE;
    letter-spacing:3px;
    font-family: 'Pattaya', sans-serif;
}
.parent nav ul{
    list-style-type:none;
    margin-top: 6px;
}
.parent nav ul li{
    display:inline-block;
}
.parent nav ul li a{
    color:#EEE;
    text-decoration:none;
    margin-right:22px;
    font-family:Tahoma, sans-serif;
    text-transform: uppercase;
    transition:all .5s ease-in-out;
}
.parent nav ul li a:hover{
    font-weight:bold;
}
.parent .container{
    display:flex;
    justify-content: space-evenly;
    justify-items: space-evenly;
}
.parent .container > div{
    width:300px;
    height:300px;
    background:#333;
    border-radius:7px;
    margin: 90px 0px 30px;
}
.parent .container div .day{
    color:#EEE;
    text-align: left;
    background:#111;
    padding:10px;
    border-top-right-radius:7px;
    border-top-left-radius:7px;
}
.parent .container div .city{
    display:block;
    text-align:left;
    padding:10px;
    color:#EEE;
    font-size:18px;
    font-family: 'Pattaya', sans-serif;
}
.parent .container div .temp-cont{
    display:flex;
    padding:10px;
    margin-top: 28px;
}
.parent .container div .temp-cont img{
    width:90px; 
    height:90px;
    margin-top: -18px;
}
.parent .container div .temp-cont .temp-parent{
    margin-right:60px;
}
.parent .container div .temp-cont .temp-parent span{
    font-size:50px;
    font-family:Arial, Tahoma, sans-serif;
    font-weight:bold;
    color:#EEE;
}
.parent .container div .high-low-container div{
    display:inline-block;
    margin: 30px 30px;
}
.parent .container div .high-low-container div span{
    color:#EEE;
    font-family:Arial, Tahoma, sans-serif;
    font-weight:bold;
}

.parent .search-container{
    width:800px;
    margin: 0px auto;
    display:flex;
    justify-content:center;
}
.parent .search-container input[type='search']{
    width:60%;
    outline:none;
    padding:8px;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    font-size:18px;
    border:0px;
}
.parent .search-container input[type='search']::placeholder{
    font-family:'Pattaya',Arial,Tahoma,sans-serif;
    font-weight: 100;
}
.parent .search-container input[type='submit']{
    width:20%;
    outline:none;
    padding:8px;
    cursor:pointer;
    background:#333;
    color:#EEE;
    font-family:Arial,Tahoma,sans-serif;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    border:0px;
    font-size:18px;
}
.parent .city-temperature{
    width:300px;
    height:300px;
    background:#333;
    border-radius:7px;
    margin: 30px auto;
}
.parent .city-temperature.hide-box{
    display:none;
}
.parent .city-temperature .day{
    color:#EEE;
    text-align: left;
    background:#111;
    padding:10px;
    border-top-right-radius:7px;
    border-top-left-radius:7px;
} 
.parent .city-temperature .city{
    display:block;
    text-align:left;
    padding:10px;
    color:#EEE;
    font-size:18px;
    font-family: 'Pattaya', sans-serif;
} 
.parent .city-temperature .temp-cont{
    display:flex;
    padding:10px;
    margin-top: 28px;
}
.parent .city-temperature .temp-cont img{
    width:90px; 
    height:90px;
    margin-top: -18px;
}
.parent .city-temperature .temp-cont .temp-parent{
    margin-right:60px;
}
.parent .city-temperature .temp-cont .temp-parent span{
    font-size:50px;
    font-family:Arial, Tahoma, sans-serif;
    font-weight:bold;
    color:#EEE;
}
.parent .city-temperature .high-low-container div{
    display:inline-block;
    margin: 30px 30px;
}
.parent .city-temperature .high-low-container div span{
    color:#EEE;
    font-family:Arial, Tahoma, sans-serif;
    font-weight:bold;
}
/* End of weather */
/* Start of gallery */
.photo{
    width: 715px;
    margin: 80px auto;
    text-align: center;
}
.photo h3{
    text-align: left;
    font-size: 23px;
    font-family: Tahoma,sans-serif;
    font-weight: 400;
    color:#222
}
.photo .gallery{
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position:relative;
    transform-style: preserve-3d;
    perspective: 2000px;
}
.photo .gallery img{
    height:200px;
    width:200px;
    border-radius:7px;
    margin-top: 20px;
    margin-right:40px;
    cursor:pointer;
    transition:all .7s ease-in-out;
}
.photo .gallery img:hover{
    transform: translate3d(0,-10px,120px);
}
.gallery-name{
    display:flex;
    justify-content: space-evenly;
}
.gallery-name span{
    margin-top: 10px;
    margin-right: 192px;
    color:#666;
    font-family: 'Play', sans-serif;
    font-size:18px;
}
.gallery-name .countries2{
    margin-left: -17px;
}
/* End of gallery */
/* Start About */
.about{
    background:#7173f1;
    min-height: 30vh;
    padding:70px;
    display: flex;
    justify-content: center;
}
.about .left-hand-side h3{
    font-size:30px;
    color:#32EEa0;
    text-transform:uppercase;
    letter-spacing:2px;
    font-family:'Play', sans-serif;
    margin-bottom:10px;
}
.about .left-hand-side ul{
    list-style-type:none;
}
.about .left-hand-side ul li i{
    background:#EEE;
    color:#32FFa0;
    border-radius: 100%;
    margin-right:8px;
}
.about .left-hand-side ul li{
    margin: 30px 0;
    font-size:18px;
    font-family:'Play', sans-serif;
    color:#EEE;
    text-transform:capitalize;
    width: 100%;
}
/* End About */
/* Start of Contact */
.contact{
    padding:40px;
    position: relative;
}
.contact h3{
    background: #EEE;
    position: absolute;
    margin: 0 30px;
    top: 23px;
    font-size: 24px;
    font-family: 'Play';
    text-transform: capitalize;
}
.contact form{
    border:1px solid #000;
    padding: 20px 40px;
    border-radius:5px;
}
.contact form input, label{
    display: block;
}
.contact form label{
    margin-bottom: 10px;
    font-family:'Play',sans-serif;
    font-size:20px;
    color:#777;
    text-decoration:underline;
}
.contact form input:not(input[type="submit"]){
    margin-bottom: 30px;
    width:350px;
    border-radius:7px;
    padding:8px;
    outline:none;
    font-size:20px;
    border:0px;
}
.contact form input::placeholder{
    font-family:Arial,Tahoma,sans-serif;
    font-style:italic;
    font-size:16px;
    font-family:'Play',sans-serif;
}
.contact form input[type="submit"]{
    width:120px;
    border:0px;
    border-radius:7px;
    background:#7173f1;
    font-family:'Play',sans-serif;
    color:#EEE;
    font-size:18px;
    padding:10px;
    cursor:pointer;
    outline:none;
}
/* End of Contact */